body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(45deg, #0000007a, #0000007a);
    color: #c5c6c7;
    margin: 0;
    padding: 0;
    background-size: 400% 400%;
    animation: gradientBackground 15s ease infinite;
}

@keyframes gradientBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #66fcf1;
}

.weather-details {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(102, 252, 241, 0.6);
}

.rover-image {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    margin: 20px 0;
}

a {
    color: #66fcf1;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}